@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body{
  font-family:'Roboto';
}
*{
  margin: 0;
  padding: 0;
}
.center{
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-5%, -5%);
  width: 100%;
}
.center h1{
  user-select: none;
  font-size: 15px;
  color: white;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 450vw 450vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}
.center h2{
  user-select: none;
  font-size: 15px;
  color: magenta;
}
.center h3{
  user-select: none;
  font-size: 20px;
  color: magenta;
}
.center h5{
    user-select: none;
    font-size: 11px;
    color: white;
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 450vw 450vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}
@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 450vw;
  }
}
